.accordionbox {
    width: 100%;
    margin-top: 10px;
}

.accordionlist dt {
    display: block;
    background: #fff;
    border-top: 1px solid #DFDFDF;
}

.accordionlist dt:first-child {
    border-top: none !important;
    display: inline-flex;
    width: 100%;
}

.accordion {
    width: 100%;
}

.accordion_p {
    width: 100%;
    padding: 0 !important;
    font-size: 1.5em !important;
}

.accordionlist dd {
    display: block;
    background: #fff;
}

.accordion_icon,
.accordion_icon span {
    display: inline-block;
    transition: all .4s;
    box-sizing: border-box;
}

.accordion_icon {
    position: relative;
    width: 30px;
    height: 30px;
    padding: 15px !important;
    top: 8px;
}

.accordion_icon span {
    position: absolute;
    left: 6px;
    width: 50%;
    height: 2px;
    background-color: #F88789;
    border-radius: 4px;
    -webkit-border-radius: 4px;
}

/* ＋、×切り替え 1回目 */
.accordion_icon span:nth-of-type(1) {
    top: 5px;
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
}

.accordion_icon span:nth-of-type(2) {
    top: 5px;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
}

@media only screen and (min-width: 375px) {
    #present {
        display: none;
    }
}