@font-face {
    font-family: 'tanuki';
    src: url(../font/TanukiMagic.ttf) format('truetype');
}

body {
    font-family: 'tanuki';
}

footer {
    text-align: center;
    font-size: 15px;
    margin-top: 10px;
}

.footer2 {
    margin-top: 175px;
}

.footer3 {
    margin-top: 200px;
}

@media only screen and (min-width: 375px) {
    .footer1{
        margin-top: 70px;
    }
    .footer2{
        margin-top: 270px;
    }
    .footer3{
        margin-top: 290px;
    }
}

h1 {
    text-align: center;
}

.TOC {
    text-align: center;
    margin: 20% 0 25%;
}

p.TOC_p {
    text-align: center;
    padding: 10px 8%;
}

.indent1 {
    padding-right: 4px;
}

.indent2 {
    padding-right: 6px;
}

.title {
    margin-bottom: 10px;
}

.image {
    text-align: center;
}

img {
    width: 200px;
    height: 200px;
}

.frontCover {
    margin-top: 30%;
    margin-bottom: 50px ;
}

@media only screen and (max-width: 320px) {
    h1{
        font-size: 1.7em;
    }
}

.freedomGirl {
    height: 250px;
}

.sushi {
    width: 90%;
}

.fujiyama {
    width: 100%;
}

.transform {
    transform: rotate(90deg)
}