@font-face {
    font-family: 'tanuki';
    src: url(../font/TanukiMagic.ttf) format('truetype');
}

body {
    font-family: 'tanuki';
}

footer {
    text-align: center;
    font-size: 15px;
    margin-top: 10px;
}

.footer2 {
    margin-top: 165px;
}

.footer3 {
    margin-top: 185px;
}

@media only screen and (min-width: 375px) {
    .footer1 {
        margin-top: 70px;
    }

    .footer2 {
        margin-top: 265px;
    }

    .footer3 {
        margin-top: 285px;
    }
}

h1 {
    text-align: center;
}

.TOC {
    text-align: center;
    margin: 15% 0 15%;
    font-size: 2em;
}

p.TOC_p {
    padding: 10px 8%;
    text-align: left;
}

.indent1 {
    padding-right: 4px;
}

.indent2 {
    padding-right: 5px;
}

.indent3 {
    padding-right: 5px;
}

.caption {
    margin-bottom: 10px;
}

.image {
    text-align: center;
}

img {
    width: 200px;
    height: 200px;
}

.frontCover {
    margin-top: 30%;
    margin-bottom: 50px;
}

@media only screen and (max-width: 320px) {
    h1 {
        font-size: 1.6em;
    }
}

.train {
    width: 30px;
    height: 30px;
}

.freedomGirl {
    height: 250px;
}

.sushi {
    width: 90%;
}

.fujiyama {
    width: 100%;
}

.transform {
    transform: rotate(90deg)
}

#menu {
    position: relative;
    height: 45px;
    width: 50px;
    display: inline-block;
    box-sizing: border-box;
    background-color: #fff;
}

#menu div {
    position: absolute;
    width: 100%;
}

#menu div:nth-of-type(1) {
    top: -2px;
}

#menu div:nth-of-type(2) {
    top: 9px;
}

#menu div:nth-of-type(3) {
    top: 20px;
}

h2.transfer {
    background: #f2f2f2;
    padding: 10px 10px;
}

h3.transfer {
    background: #f2f2f2;
    padding: 10px 20px;
}

p.transfer {
    margin-left: 20px;
    padding-left: 10px;
    border-left: #000000 2px solid;
}

p.check {
    width: 100%;
    background: #f7f7f7;
    padding: 0;
    margin: 10px 0;
}

p.check:first-child {
    margin-top: 0;
}

p.check:last-child {
    margin-bottom: 0;
}

label.check {
    width: 100%;
    font-size: 1.3em;
    text-align: center;
    display: inline-block;
}

#border {
    position: absolute;
    border-top: #000000 2px solid;
    bottom: 45px;
    width: 100%;
    z-index: 100;
}