@font-face {
    font-family: 'tanuki';
    src: url(../font/TanukiMagic.ttf) format('truetype');
}

body {
    font-family: 'tanuki';
}

footer {
    text-align: center;
    font-size: 15px;
    margin-top: 10px;
}

.footer2 {
    margin-top: 165px;
}

.footer3 {
    margin-top: 185px;
}

@media only screen and (min-width: 375px) {
    .footer1 {
        margin-top: 70px;
    }

    .footer2 {
        margin-top: 265px;
    }

    .footer3 {
        margin-top: 285px;
    }
}

h1 {
    text-align: center;
}

.TOC {
    text-align: center;
    margin: 15% 0 20%;
    font-size: 2em;
}

p.TOC_p {
    padding: 10px 8%;
    text-align: center;
}

.indent1 {
    padding-right: 4px;
}

.indent2 {
    padding-right: 5px;
}

.indent3 {
    padding-right: 5px;
}

.caption {
    margin-bottom: 10px;
}

.image {
    text-align: center;
}

img {
    width: 200px;
    height: 200px;
}

.frontCover {
    margin-top: 30%;
    margin-bottom: 50px;
}

@media only screen and (max-width: 320px) {
    h1 {
        font-size: 1.6em;
    }
}

.freedomGirl {
    height: 250px;
}

.sushi {
    width: 90%;
}

.fujiyama {
    width: 100%;
}

.transform {
    transform: rotate(90deg)
}

#menu {
    position: relative;
    height: 45px;
    width: 50px;
    display: inline-block;
    box-sizing: border-box;
    background-color: #fff;
}

#menu div {
    position: absolute;
    width: 100%;
}

#menu div:nth-of-type(1) {
    top: -2px;
}

#menu div:nth-of-type(2) {
    top: 9px;
}

#menu div:nth-of-type(3) {
    top: 20px;
}

h2.transfer {
    background: #a7ffb7;
    padding: 10px 10px;
}

h2.transit {
    font-size: 1.17em;
    padding: 10px 20px;
}

.transfarColor {
    background: #f2f2f2 !important;
}

p.transfer {
    margin-left: 20px;
    padding-left: 10px;
    border-left: #000000 2px solid;
}

p.check {
    width: 100%;
    background: #f7f7f7;
    padding: 0;
    margin: 10px 0;
}

p.check:first-child {
    margin-top: 0;
}

p.check:last-child {
    margin-bottom: 0;
}

label.check {
    width: 100%;
    font-size: 1.3em;
    text-align: center;
    display: inline-block;
}

#border {
    position: absolute;
    border-top: #000000 2px solid;
    bottom: 45px;
    width: 100%;
    z-index: 100;
}

.train {
    width: 150px;
    height: 20px;
    position: absolute;
    top: 215px;
    animation-name: moveTrain;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-delay: 1s;
    opacity: 0;
}

@keyframes moveTrain {
    from {
        left: -150px;
        opacity: 1;
    }

    to {
        left: 400px;
        opacity: 1;
    }
}

.endRoll {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    animation-name: background;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

@keyframes background {
    from {
        background: #fff;
        transform: scale(0, 0);
    }

    to {
        background: #000;
        transform: scale(1, 1);
    }

}

.endRollAnime {
    position: relative;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    animation-name: anime14_text;
    animation-duration: 120s;
    animation-timing-function: linear;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
    text-align: center;
    color: #616161;
}

.endRoll_text {
    color: #fff;
    margin-bottom: 45px;
    font-size: 1.5em;
}

@keyframes anime14_text {
    0% {
        top: 100%;
    }

    100% {
        top: -400%;
    }
}

.boss {
    margin-top: 200px;
}

.end {
    margin-top: 400px;
}