@font-face {
    font-family: 'tanuki';
    src: url(../font/TanukiMagic.ttf) format('truetype');
}

body {
    font-family: 'tanuki';
}

footer {
    text-align: center;
    font-size: 15px;
    margin-top: 10px;
}

h1 {
    text-align: center;
}

.title {
    margin-bottom: 10px;
}

.image {
    text-align: center;
}

.image img {
    width: 200px;
    height: 200px;
}

.frontCover {
    margin-top: 30%;
    margin-bottom: 50px ;
}

@media only screen and (max-width: 320px) {
    h1{
        font-size: 1.7em;
    }
}